<div class="card" style="max-width: 500px;">
    <div class="row no-gutters">
        <div class="col-5">
            <img src="{{itemCart.urlImage}}" class="card-img-top h-100" alt="...">
        </div>
        <div class="col-7">
            <div class="card-body">
                <h5 class="card-title font-weight-bold">{{itemCart.product}}</h5>

                <h6 class="font-weight-bold">Price: ${{itemCart.price}}</h6>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-minus"></i></button>
                    </div>
                    <input type="text" class="form-control text-center" value="0" placeholder="" aria-label=""
                        aria-describedby="basic-addon1">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button"><i class="fas fa-plus"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>